main {
    width: 900px;
    margin: 0 auto;
}

@keyframes busmallicon {
    0%      {transform: translateX(-1000%);}
    98%     {transform: skew(-1turn, 6deg);}
    100%    {transform: translateX(0);}
}

header {
    text-align: left;
}

nav {
    font-family: 'Glegoo', serif;
    font-size: 0.9rem;
}

nav a {
    color: #F48320;
}

#results-id {
    font-family: 'Glegoo', serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: -250px;
    color: #F48320;
    user-select: none;
}

.footer {
    font-family: 'Glegoo', serif;
    color: #022f54;
    background: #eee;
    margin-bottom: 0px;
    margin-top: 325px;
    padding: 25px 0;
    text-align: center;
    vertical-align: center;
}

.hidden {
    visibility: hidden;
}

body {
    margin: 0px;
}

h1 {
    border: 2.5px solid #4c89bb;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-family: 'Glegoo', serif;
    line-height: 1.1em;
    color: #016e96;
    box-shadow: 10px 10px #eee;
    width: 250px;
    /* animation-name: h1;
    animation-duration: 2s; */
}

h2 {
    font-family: 'Glegoo', serif;
    color: #022f54;
}

hr {
    border-top: 1px solid #00d4ff
}

.before-images {
    margin-bottom: 35px;
}

.bus-mall-icon {
    height: 48%;
    width: 48%;
    margin-left: 2px;
    opacity: 0.5;
    margin-bottom: -2px;
    animation-name: busmallicon;
    animation-duration: 1s;
}

#mall {
    font-size: 55px;
    text-transform: lowercase;
}

.icon-image {
    width: 3%;
    height: 3%;
    opacity: 0.5;
    cursor: pointer;
}

.icon-image-call {
    width: 3.41%;
    height: 3.41%;
    opacity: 0.5;
    cursor: pointer;
    margin-bottom: -1.72px;
    margin-left: -2px;
}

.icon-image-tweet {
    width: 3%;
    height: 3%;
    opacity: 0.5;
    margin-left: 30px;
    cursor: pointer;
}

body p {
    margin-bottom: 30px;
    font-family: 'Glegoo', serif;
    color: #016e96
}

#social-media {
    text-align: right;
}

.header-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#image-section {
    display: flex;
    justify-content: space-evenly;
    width: 900px;
}

.button-1 {
    border-radius: 15px;
    border: 1px solid #eee;
    width: 290px;
    height: 290px;
    margin-right: 15px;
    box-shadow: 8px 8px 2px #eee;
    transition: all .02s ease-in-out;
}
.button-1:focus {
    outline:0;
}

.button-1:hover {
    transform: scale(1.01);
}

.button-2 {
    border-radius: 15px;
    border: 1px solid #eee;
    width: 290px;
    height: 290px;
    margin-right: 15px;
    box-shadow: 8px 8px 2px #eee;
    transition: all .02s ease-in-out;
}

.button-2:focus {
    outline:0;
}

.button-2:hover {
    transform: scale(1.01);
}

.button-3 {
    border-radius: 15px;
    border: 1px solid #eee;
    width: 290px;
    height: 290px;
    box-shadow: 8px 8px 2px #eee;
    transition: all .02s ease-in-out;
}

.button-3:focus {
    outline:0;
}

.button-3:hover {
    transform: scale(1.01);
}

.user-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

button:hover {
    border: 0.5px solid #4c89bb;
    box-shadow: 8px 8px 2px #eee;
    cursor: pointer;
}

.phone-number {
    display: flex;
    font-family: 'Glegoo', serif;
    color: #022f54;
    font-size: 15px;
    align-items: center;
    justify-content: flex-end;
}

